cybersec-ctu-13-dataset-version-2.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"5d7f4513-107a-413c-9d52-48176f1aaca2","version":0,"timestamp":1727721562469,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","instanceIdentifier":null,"name":"cybersec-ctu-13-dataset_1","comments":null,"position":null,"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"dbb4d38f-62c1-4b73-9ff0-b3725f0288ca","instanceIdentifier":null,"name":"GetAvailableDataSets","comments":"","position":{"x":-282.46975898742676,"y":108.57037353515625},"type":"org.apache.nifi.GetHTMLElement","bundle":{"group":"org.apache.nifi","artifact":"nifi-html-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"Destination":"flowfile-attribute","HTML Character Encoding":"UTF-8","Output Type":"HTML","URL":"https://mcfp.felk.cvut.cz/publicDatasets/","CSS Selector":"a"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Output Type":{"name":"Output Type","displayName":"Output Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Append Element Value":{"name":"Append Element Value","displayName":"Append Element Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attribute Name":{"name":"Attribute Name","displayName":"Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTML Character Encoding":{"name":"HTML Character Encoding","displayName":"HTML Character Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSS Selector":{"name":"CSS Selector","displayName":"CSS Selector","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Prepend Element Value":{"name":"Prepend Element Value","displayName":"Prepend Element Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"61efd23e-c443-4225-a8f1-2ce048c3ab14","instanceIdentifier":null,"name":"FilterDataSetsWithLabeledCSVFlows","comments":"","position":{"x":-287.0238907804404,"y":1205.588002995251},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"has_flow_csv":"${HTMLElement:endsWith('2format')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"has_flow_csv":{"name":"has_flow_csv","displayName":"has_flow_csv","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"fdd269fd-985d-4e27-9626-3af4f5ff5442","instanceIdentifier":null,"name":"GetScenarioFile","comments":"","position":{"x":-360.6536788250911,"y":1805.7340381162935},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${url_to_invoke}","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"e3c34816-51d3-4b9f-825b-57d2034d2fb5","instanceIdentifier":null,"name":"WriteToS3","comments":"","position":{"x":261.0543441917358,"y":2055.3028927754226},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"Hadoop Configuration Resources":"#{CDPEnvironment}","Kerberos Password":"#{Kerberos Password}","Ignore Locality":"false","Compression codec":"NONE","Kerberos Principal":"#{Kerberos Principal}","writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"#{Directory}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"9a785e0e-f213-48b5-8c11-c19c6621283e","instanceIdentifier":null,"name":"InvokeHTTP","comments":"","position":{"x":-289.22238621538247,"y":643.7292505884674},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://mcfp.felk.cvut.cz/publicDatasets/${HTMLElement}/","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"668a1d06-8d90-4427-84ef-d39708e43c60","instanceIdentifier":null,"name":"GetContentsOfSiteAsHTML","comments":"","position":{"x":-276.5847716330587,"y":-175.3683655095195},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://mcfp.felk.cvut.cz/publicDatasets/","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","Socket Write Timeout":"15 secs","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"e0bc9674-a260-4342-8f54-b3d074b1e68e","instanceIdentifier":null,"name":"ConstructHttpLogUrl","comments":"","position":{"x":-100.86368771201057,"y":1489.1697921848522},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","url_to_invoke":"${invokehttp.response.url}/bro/http.log"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url_to_invoke":{"name":"url_to_invoke","displayName":"url_to_invoke","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"7eff6cdc-d3c8-4610-a9d8-769e91c2a4ec","instanceIdentifier":null,"name":"ConstructDnsLogUrl","comments":"","position":{"x":-447.5715970454043,"y":1482.5893110700672},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","url_to_invoke":"${invokehttp.response.url}/bro/dns.log"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url_to_invoke":{"name":"url_to_invoke","displayName":"url_to_invoke","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"3ceebe44-9d50-4c42-9b71-80302cd8f64e","instanceIdentifier":null,"name":"GetCTU13DataSets","comments":"","position":{"x":-289.7292169213854,"y":373.90184937875006},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"ctu_data":"${HTMLElement:contains('CTU-Malware-Capture-Botnet')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"ctu_data":{"name":"ctu_data","displayName":"ctu_data","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"e10089e0-824c-4696-b83a-3923150e937e","instanceIdentifier":null,"name":"ConstructNetflowFileUrl","comments":"","position":{"x":-820.501316617004,"y":1485.9429123027226},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","url_to_invoke":"${invokehttp.response.url}/${HTMLElement}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url_to_invoke":{"name":"url_to_invoke","displayName":"url_to_invoke","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"7630034d-cbfd-4089-af8d-3c16e95e2ee7","instanceIdentifier":null,"name":"ConstructSmtpLogUrl","comments":"","position":{"x":258.37258553239343,"y":1485.6408524780534},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","url_to_invoke":"${invokehttp.response.url}/bro/smtp.log"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url_to_invoke":{"name":"url_to_invoke","displayName":"url_to_invoke","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"43df07ff-ea45-48bf-bf0c-cbc04f4cfd4f","instanceIdentifier":null,"name":"ListFilesInDataSet","comments":"","position":{"x":-296.64487425483486,"y":877.2415890221317},"type":"org.apache.nifi.GetHTMLElement","bundle":{"group":"org.apache.nifi","artifact":"nifi-html-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"Destination":"flowfile-attribute","HTML Character Encoding":"UTF-8","Output Type":"HTML","CSS Selector":"a","URL":"https://mcfp.felk.cvut.cz/publicDatasets/${HTMLElement}/"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Output Type":{"name":"Output Type","displayName":"Output Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Append Element Value":{"name":"Append Element Value","displayName":"Append Element Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attribute Name":{"name":"Attribute Name","displayName":"Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTML Character Encoding":{"name":"HTML Character Encoding","displayName":"HTML Character Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSS Selector":{"name":"CSS Selector","displayName":"CSS Selector","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Prepend Element Value":{"name":"Prepend Element Value","displayName":"Prepend Element Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"8415d06a-4f5d-478f-ba51-46b7064d636e","instanceIdentifier":null,"name":"PrependScenarioName","comments":"","position":{"x":-346.7261971628624,"y":2072.995154374821},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.25.0.2.3.13.1-1"},"properties":{"filename":"${invokehttp.response.url:getDelimitedField(5, '/')}_${invokehttp.response.url:substringAfterLast('/'):replaceFirst('capture.*binetflow','capture.binetflow')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7c989807-8b13-4a61-97f7-ee62e1e0d044","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"9a785e0e-f213-48b5-8c11-c19c6621283e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"InvokeHTTP","comments":null,"instanceIdentifier":null},"destination":{"id":"43df07ff-ea45-48bf-bf0c-cbc04f4cfd4f","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ListFilesInDataSet","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"746bf9c0-12f9-4c5e-b40e-97d0c0d95632","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"e3c34816-51d3-4b9f-825b-57d2034d2fb5","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"WriteToS3","comments":null,"instanceIdentifier":null},"destination":{"id":"e43c45d3-3224-4d32-9362-de842e4ccf97","type":"FUNNEL","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"c63ca007-8822-4548-bbf2-9bc83e7859a3","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"61efd23e-c443-4225-a8f1-2ce048c3ab14","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"FilterDataSetsWithLabeledCSVFlows","comments":null,"instanceIdentifier":null},"destination":{"id":"7eff6cdc-d3c8-4610-a9d8-769e91c2a4ec","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ConstructDnsLogUrl","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["has_flow_csv"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"3c689a91-9a6b-4ef2-8b47-117362ea1b53","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"668a1d06-8d90-4427-84ef-d39708e43c60","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetContentsOfSiteAsHTML","comments":null,"instanceIdentifier":null},"destination":{"id":"f081befc-5e3d-45a3-a830-644f88494021","type":"FUNNEL","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"3a3a07bb-f86f-423d-b5ce-04a31cb4044f","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"61efd23e-c443-4225-a8f1-2ce048c3ab14","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"FilterDataSetsWithLabeledCSVFlows","comments":null,"instanceIdentifier":null},"destination":{"id":"e10089e0-824c-4696-b83a-3923150e937e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ConstructNetflowFileUrl","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["has_flow_csv"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"cd6f0cf3-0d20-480a-a008-6570d8b90f84","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"43df07ff-ea45-48bf-bf0c-cbc04f4cfd4f","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ListFilesInDataSet","comments":null,"instanceIdentifier":null},"destination":{"id":"e43c45d3-3224-4d32-9362-de842e4ccf97","type":"FUNNEL","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["invalid html","element not found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"d0bee408-201b-4593-ac65-fafeec970261","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"3ceebe44-9d50-4c42-9b71-80302cd8f64e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetCTU13DataSets","comments":null,"instanceIdentifier":null},"destination":{"id":"9a785e0e-f213-48b5-8c11-c19c6621283e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"InvokeHTTP","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["ctu_data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"06a896b1-eea6-4071-a2b8-0781c1eefb76","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"61efd23e-c443-4225-a8f1-2ce048c3ab14","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"FilterDataSetsWithLabeledCSVFlows","comments":null,"instanceIdentifier":null},"destination":{"id":"e0bc9674-a260-4342-8f54-b3d074b1e68e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ConstructHttpLogUrl","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["has_flow_csv"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"440e7356-08e9-42fb-8a31-0cf4283294e9","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"dbb4d38f-62c1-4b73-9ff0-b3725f0288ca","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetAvailableDataSets","comments":null,"instanceIdentifier":null},"destination":{"id":"3ceebe44-9d50-4c42-9b71-80302cd8f64e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetCTU13DataSets","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"5d01ce43-88c9-4d57-9c65-36e7bfe70ae3","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"e10089e0-824c-4696-b83a-3923150e937e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ConstructNetflowFileUrl","comments":null,"instanceIdentifier":null},"destination":{"id":"fdd269fd-985d-4e27-9626-3af4f5ff5442","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetScenarioFile","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"63752935-46f6-46f6-af9c-755550f0c18b","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"fdd269fd-985d-4e27-9626-3af4f5ff5442","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetScenarioFile","comments":null,"instanceIdentifier":null},"destination":{"id":"e43c45d3-3224-4d32-9362-de842e4ccf97","type":"FUNNEL","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"8d9a56f5-7950-4d64-b99a-af5ae52cf8dd","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"61efd23e-c443-4225-a8f1-2ce048c3ab14","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"FilterDataSetsWithLabeledCSVFlows","comments":null,"instanceIdentifier":null},"destination":{"id":"7630034d-cbfd-4089-af8d-3c16e95e2ee7","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ConstructSmtpLogUrl","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["has_flow_csv"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"0e532c29-2d95-4f5a-b0b7-1c4145849566","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"9a785e0e-f213-48b5-8c11-c19c6621283e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"InvokeHTTP","comments":null,"instanceIdentifier":null},"destination":{"id":"458a0f79-3404-43d6-b742-7eb68d69f5b0","type":"FUNNEL","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"4644ceeb-78ed-4703-9626-5f0201d83e6a","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"dbb4d38f-62c1-4b73-9ff0-b3725f0288ca","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetAvailableDataSets","comments":null,"instanceIdentifier":null},"destination":{"id":"f081befc-5e3d-45a3-a830-644f88494021","type":"FUNNEL","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["invalid html","element not found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"93b6628d-ec52-49ac-8f48-118c9e4ab342","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"8415d06a-4f5d-478f-ba51-46b7064d636e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"PrependScenarioName","comments":null,"instanceIdentifier":null},"destination":{"id":"e3c34816-51d3-4b9f-825b-57d2034d2fb5","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"WriteToS3","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"294d75a6-dbbb-4dd8-9dc8-7e9a76b17eaa","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"43df07ff-ea45-48bf-bf0c-cbc04f4cfd4f","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ListFilesInDataSet","comments":null,"instanceIdentifier":null},"destination":{"id":"458a0f79-3404-43d6-b742-7eb68d69f5b0","type":"FUNNEL","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"e6068078-10dc-46df-9f64-94e35d716998","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"7630034d-cbfd-4089-af8d-3c16e95e2ee7","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ConstructSmtpLogUrl","comments":null,"instanceIdentifier":null},"destination":{"id":"fdd269fd-985d-4e27-9626-3af4f5ff5442","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetScenarioFile","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"ffa9ee58-734a-4ac6-bd9f-fc9b75bb6f14","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"668a1d06-8d90-4427-84ef-d39708e43c60","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetContentsOfSiteAsHTML","comments":null,"instanceIdentifier":null},"destination":{"id":"dbb4d38f-62c1-4b73-9ff0-b3725f0288ca","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetAvailableDataSets","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"a0ae65ce-99bf-458f-b710-25d354036118","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"fdd269fd-985d-4e27-9626-3af4f5ff5442","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetScenarioFile","comments":null,"instanceIdentifier":null},"destination":{"id":"8415d06a-4f5d-478f-ba51-46b7064d636e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"PrependScenarioName","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"9c71fab9-e563-41ff-9fa0-20b8556edc5d","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"7eff6cdc-d3c8-4610-a9d8-769e91c2a4ec","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ConstructDnsLogUrl","comments":null,"instanceIdentifier":null},"destination":{"id":"fdd269fd-985d-4e27-9626-3af4f5ff5442","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetScenarioFile","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"a306bbd0-36a3-4826-b273-9c779c0a9aa0","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"e0bc9674-a260-4342-8f54-b3d074b1e68e","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ConstructHttpLogUrl","comments":null,"instanceIdentifier":null},"destination":{"id":"fdd269fd-985d-4e27-9626-3af4f5ff5442","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"GetScenarioFile","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"2e3b4b7e-ee42-4acd-b3cd-404b1c6f2f5f","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"43df07ff-ea45-48bf-bf0c-cbc04f4cfd4f","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"ListFilesInDataSet","comments":null,"instanceIdentifier":null},"destination":{"id":"61efd23e-c443-4225-a8f1-2ce048c3ab14","type":"PROCESSOR","groupId":"3bfec826-d718-4c7d-93cc-282fabbe3ea2","name":"FilterDataSetsWithLabeledCSVFlows","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"}],"labels":[],"funnels":[{"identifier":"458a0f79-3404-43d6-b742-7eb68d69f5b0","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-711.3620027828042,"y":817.507721904376},"componentType":"FUNNEL","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"f081befc-5e3d-45a3-a830-644f88494021","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-616.5970966766116,"y":75.84432333274162},"componentType":"FUNNEL","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"},{"identifier":"e43c45d3-3224-4d32-9362-de842e4ccf97","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":809.1551499597791,"y":1665.4441681661701},"componentType":"FUNNEL","groupIdentifier":"3bfec826-d718-4c7d-93cc-282fabbe3ea2"}],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"cybersec-ctu-13-dataset_1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":null,"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":null,"parameterProviders":null,"parameterContexts":{"cybersec-ctu-13-dataset_1":{"identifier":"017060e9-8a70-4475-afda-9e81ba31d81f","instanceIdentifier":null,"name":"cybersec-ctu-13-dataset_1","comments":null,"position":null,"parameters":[{"name":"Kerberos Principal","description":null,"sensitive":false,"provided":false,"value":"cduby"},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":null},{"name":"Kerberos Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Directory","description":null,"sensitive":false,"provided":false,"value":"/user/cduby/ctu13_2024_3"}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}